.contact-form {
		width: 100vw;
	  background-color: cadetblue;
 	  height: 100vh;
		margin: 0;
}
form {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

p {
	padding: 10px;
}
h1, h2, h3, p {
	margin: 0;
}

.contact-title {
	padding-top: 20px;
}