.main {
	
	max-width: 100vw;
	background-color: #B5EAFF;
	height: 100vh;
	margin: 10;
	position: relative
}

#scroll-down {
	height: 50px;
	position: fixed;
	bottom: 0;
	right: 45vw;
}

.image {
	width: 40vw;
	margin: 20px;
}

h1 h2 h3 p {
	margin: 0;
}

.information {
	display: felx;
	flex-direction: column;
}

/*mobile*/
@media only screen and (min-width: 480px) {
	.App {
		font-size: 16px;
	}
	.main-content {
		display: flex;
		flex-direction: column;
					align-items: center;

	}
}
/*tablet*/
@media only screen and (min-width: 768px) {
	.App {
		font-size: 20px;
	}
	.main-content {
		display: flex;
		flex-direction: column;
			align-items: center;
	}
}
/*desktop*/
@media only screen and (min-width: 992px)
 {
	.main-content {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}
}