.App {
	background-image:url('./images/cleaning.jpg');
	position: relative;
	width: 100vw;
	text-align: center;
	background-attachment: fixed;
}
h1 h2 h3 p {
	margin: 0;
}

/*mobile*/
@media only screen and (min-width: 480px) {
	.App {
		font-size: 16px;
	}
}
/*tablet*/
@media only screen and (min-width: 768px) {
	.App {
		font-size: 20px;
	}
}
/*desktop*/
@media only screen and (min-width: 992px)
 {
	.App {
		font-size: 20px;
	}
}